---
import Default from '~/layouts/Default.astro'
import ArtDots from '~/components/ArtDots.vue'
---

<Default title="About — Raye's Journey" description="Raye's personal introduction">
  <ArtDots client:idle />
  <div class="prose m-auto slide-enter-content">
    <h1>About Me</h1>

    <ul>
      <li>一个想成为黑客的文人</li>
      <li>ENFJ-A 随时欢迎打扰</li>
    </ul>

    <p>可以使用<a href="https://app.folo.is/share/feeds/41342818708527119" target="_blank" rel="noopener noreferrer">folo</a>订阅</p>

    <h2>About the Site</h2>

    <ul>
      <li>尽量做到每周更新两篇，一篇技术/杂文，一篇周报</li>
      <li>一些想法，会记录到 <a href="https://page.raye.wiki/" target="_blank" rel="noopener noreferrer">page.raye.wiki</a></li>
      <li>找到我 <a href="https://twitter.com/rayepeng_" target="_blank" rel="noopener noreferrer">twitter</a> | <a href="https://t.me/RayeJourney" target="_blank" rel="noopener noreferrer">telegram</a></li>
      <li>以前写过的博客 <a href="https://blog.raye.wiki/" target="_blank" rel="noopener noreferrer">blog</a></li>
      <li>御三家+steam deck重度游戏玩家，偏好肉鸽，策略，JRPG等</li>
      <li>羽毛球左撇子选手</li>
    </ul>

    <h2>Self-Introduction</h2>

    <p>喜欢追剧、记录、阅读、运动的打工人一枚</p>

    <p>翻了翻我在xlog第一篇文章，想着也有必要去写一篇关于自我介绍的内容了</p>

    <p>初见xlog那一刻，让我突然意识到，毕业工作了两年多，我已经渐渐脱离时代了</p>

    <p>再也找不到在大学时候，每天泡在图书馆里学习各种好玩的技术，参加各种好玩的比赛，并记录下这些好玩的事情，结识了一个又一个朋友</p>

    <p>不得不承认，每天按部就班的工作，安逸缺少挑战的生活，会逐渐磨灭人的激情。</p>

    <blockquote>
      <p>建安十二年，刘皇叔在一次上厕所的时候发现自己大腿内侧竟然长出了赘肉</p>
      <p>"日月若驰，老将至矣，而功业不建，是以悲耳"</p>
    </blockquote>

    <p>刘备在那一刻突然惊醒，自己身上还担负着复兴汉室的重任</p>

    <p>我固然没有刘皇叔之宏伟志向，但我身上还怀揣着对技术地不断追求，这一点是不会变的</p>

    <p>还好有写作记录，让我重新拾起对代码、对学习、对写作记录的热爱</p>

    <p>最喜欢的还是苏轼那句词：</p>

    <blockquote>
      <p>且趁闲身未老，尽放我、些子疏狂</p>
    </blockquote>

    <p>欢迎和我<a href="https://t.me/RayeJourney" target="_blank" rel="noopener noreferrer">交流</a></p>
  </div>
</Default>
