---
import { getCollection } from 'astro:content'
import Default from '~/layouts/Default.astro'
import ListPosts from '~/components/ListPosts.astro'

const all = await getCollection('posts', ({ data }) => !data.draft && !data.redirect)

const postItems = all
  .map((post) => ({
    slug: post.slug,
    title: post.data.title,
    date: post.data.date,
    lang: post.data.lang,
  }))
  .sort((a, b) => +new Date(b.date) - +new Date(a.date))
---

<Default title="Archive — Raye's Journey" description="All blog posts archive">
  <div class="prose m-auto slide-enter-content">
    <h1 class="mb-2">Archive</h1>
    <p class="op50 mt-0!">共 {postItems.length} 篇文章</p>
    <ListPosts posts={postItems} />
  </div>
</Default>
