---
import Default from '~/layouts/Default.astro'
---

<Default title="Bar - Anthony Fu" description="Bar page">
  <div class="prose m-auto slide-enter-content">
    <h1>Bar</h1>
    <p class="op50 text-sm">
      <em>{'⏳ /bar page scaffold — content migration pending.'}</em>
    </p>
  </div>
</Default>