---
import Default from '~/layouts/Default.astro'
---

<Default title="联系我 — Raye's Journey" description="和 Raye 聊聊天">
  <div class="prose m-auto slide-enter-content" lang="zh">

# 联系我

欢迎和我交流！你可以通过以下方式找到我：

- **Telegram**: <a href="https://t.me/RayeJourney" target="_blank" rel="noopener noreferrer">@RayeJourney</a>
- **Twitter**: <a href="https://twitter.com/rayepeng_" target="_blank" rel="noopener noreferrer">@rayepeng_</a>
- **GitHub**: <a href="https://github.com/rayepeng" target="_blank" rel="noopener noreferrer">@rayepeng</a>

或者邮件联系：<span class="font-mono">raye<span class="i-carbon-at" />rayepeng.net</span>

[English](/chat)

  </div>
</Default>
