---
import Default from '~/layouts/Default.astro'
---

<Default title="Giving Talks - Anthony Fu" description="Speaker info for Anthony Fu">
  <div class="prose m-auto slide-enter-content">

# Giving Talks

Hey! My name is [Anthony Fu](/). I am a fanatical open sourceror living in Tokyo. I am focusing on many areas in frontend like Vite, Vue, Nuxt, DX, CSS, etc.

[Talks I have given](/talks).

> [!NOTE]
> I am currently taking a **break** on giving talks.

## Information

You can use the following information to present me:

<div grid="~ cols-[max-content_1fr] gap-1">
  <div text-right pr2 op50 font-bold>Name</div>
  <div>Anthony Fu</div>

  <div text-right pr2 op50 font-bold>Avatar</div>
  <div><a href="https://antfu.me/avatar.png" target="_blank">https://antfu.me/avatar.png</a></div>

  <div text-right pr2 op50 font-bold>Introduction</div>
  <div>A fanatical open sourceror. Core team member of Vue, Nuxt and Vite. Creator of Vitest, Slidev, VueUse, UnoCSS. Working at NuxtLabs. Passionate about DX, tooling, and the OSS ecosystem.</div>

  <div text-right pr2 op50 font-bold>Location</div>
  <div>Tokyo, Japan</div>

  <div text-right pr2 op50 font-bold>Company</div>
  <div><a href="https://vercel.com/" target="_blank">NuxtLabs / Vercel</a></div>

  <div text-right pr2 op50 font-bold>Website</div>
  <div><a href="https://antfu.me" target="_blank">antfu.me</a></div>

  <div text-right pr2 op50 font-bold>GitHub</div>
  <div><a href="https://github.com/antfu" target="_blank">@antfu</a></div>

  <div text-right pr2 op50 font-bold>Twitter</div>
  <div><a href="https://twitter.com/antfu7" target="_blank">@antfu7</a></div>
</div>

  </div>
</Default>