---
import Default from '~/layouts/Default.astro'
---

<Default title="About Me — Raye's Journey" description="Raye's personal information">
  <div class="prose m-auto slide-enter-content">

# About Me

Hey! My name is [Raye](/). 一个想成为黑客的文人，ENFJ-A，随时欢迎打扰。

## Information

<div grid="~ cols-[max-content_1fr] gap-1">
  <div text-right pr2 op50 font-bold>Name</div>
  <div>Raye</div>

  <div text-right pr2 op50 font-bold>Introduction</div>
  <div>喜欢追剧、记录、阅读、运动的打工人。御三家+Steam Deck重度游戏玩家，偏好肉鸽、策略、JRPG。羽毛球左撇子选手。</div>

  <div text-right pr2 op50 font-bold>Website</div>
  <div><a href="https://rayepeng.github.io" target="_blank">rayepeng.github.io</a></div>

  <div text-right pr2 op50 font-bold>GitHub</div>
  <div><a href="https://github.com/rayepeng" target="_blank">@rayepeng</a></div>

  <div text-right pr2 op50 font-bold>Twitter</div>
  <div><a href="https://twitter.com/rayepeng_" target="_blank">@rayepeng_</a></div>

  <div text-right pr2 op50 font-bold>Telegram</div>
  <div><a href="https://t.me/RayeJourney" target="_blank">@RayeJourney</a></div>
</div>

  </div>
</Default>
