---
import Default from '~/layouts/Default.astro'
import PhotoGallery from '~/components/PhotoGallery.vue'
import photos from '~/data/photos.json'

// SubNav is inherited from Default layout
---

<Default title="Photos — Anthony Fu" description="Photos by Anthony Fu" fullwidth>
  <div class="mt--10">
    <PhotoGallery client:idle photos={photos} />
  </div>
  <div class="prose mx-auto mt-10">
    <p>
      <em class="op-50">Thank you for being interested in my photos. You can find the tools I use <a href="https://antfu.me/use" target="_blank" rel="noopener">here</a>.</em>
    </p>
  </div>
</Default>
