---
import Default from '~/layouts/Default.astro'
import PhotoGallery from '~/components/PhotoGallery.vue'
import photos from '~/data/photos.json'

// SubNav is inherited from Default layout
---

<Default title="Photos — Raye's Journey" description="Photos by Raye" fullwidth>
  <div class="mt--10">
    <PhotoGallery client:idle photos={photos} />
  </div>
  <div class="prose mx-auto mt-10">
    <p>
      <em class="op-50">感谢你对照片的兴趣。<a href="/use">这里</a>可以找到我使用的工具。</em>
    </p>
  </div>
</Default>
