---
import Default from '~/layouts/Default.astro'
---

<Default title="Uses - Anthony Fu" description="Hardware/software Anthony Fu uses">
  <div class="prose m-auto slide-enter-content">
    <h1>Uses</h1>
    <p class="op50 text-sm">
      <em>{'⏳ /use page scaffold — content migration pending.'}</em>
    </p>
  </div>
</Default>