---
const year = new Date().getFullYear()
---

<footer class="m-auto mt-12 mb-10 text-center op-50 text-sm prose">
  <p>
    <span op-75>CC BY-NC-SA 4.0</span> {year} © Anthony Fu — astrofu port
  </p>
</footer>