---
const year = new Date().getFullYear()
---

<div class="mt-10 mb-6 prose m-auto flex slide-enter animate-delay-1200 copyright">
  <span class="text-sm op50">
    <a
      target="_blank"
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      style="color:inherit"
      rel="noopener noreferrer"
    >CC BY-NC-SA 4.0</a>
    2023-{year} © Raye — Raye's Journey
  </span>
  <div class="flex-auto" />
</div>

<style>
  .no-copyright ~ .copyright {
    display: none;
  }
</style>