---
import Logo from '~/components/Logo.vue'
import ToggleTheme from '~/components/ToggleTheme.vue'
import BackToTop from '~/components/BackToTop.vue'
---

<header class="header z-40">
  <a
    href="/"
    class="w-12 h-12 absolute xl:fixed m-5 select-none outline-none block"
    aria-label="Home"
  >
    <Logo client:load />
  </a>

  <BackToTop client:idle />

  <nav class="nav">
    <div class="spacer" />
    <div class="right" print:op0>
      <a href="/posts" title="Blog">
        <span class="lt-md:hidden">Blog</span>
        <div i-ri-article-line class="md:hidden" />
      </a>
      <a href="/feed.xml" target="_blank" title="RSS" class="lt-md:hidden">
        <div i-la-rss-square style="font-size:1.25rem; margin: 0 -0.125rem;" />
      </a>
      <ToggleTheme client:load />
    </div>
  </nav>
</header>

<style>
  .header h1 {
    margin-bottom: 0;
  }
  .nav {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    box-sizing: border-box;
  }
  .nav > * {
    margin: auto;
  }
  .nav a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;
    opacity: 0.6;
    outline: none;
  }
  .nav a:hover {
    opacity: 1;
    text-decoration-color: inherit;
  }
  .nav .right {
    display: grid;
    grid-gap: 1.2rem;
    grid-auto-flow: column;
  }
</style>