---
import { formatDate } from '~/logics'

interface Props {
  title: string
  date: string
  headings?: { depth: number; slug: string; text: string }[]
}

const { title, date } = Astro.props
---

<article class="prose m-auto mb-8 slide-enter-content">
  <h1>{title}</h1>
  <p class="post-date">
    <time datetime={date}>{formatDate(date, false)}</time>
  </p>
  <slot />
</article>

<div class="prose m-auto mt-8 mb-8 slide-enter animate-delay-500">
  <br>
  <span class="font-mono op50">&gt;&nbsp;</span>
  <a
    href="/posts"
    class="font-mono no-underline op50 hover:op75"
  >cd ..</a>
</div>

<style>
  .post-date {
    opacity: 0.5;
    margin-top: -1.5rem !important;
    margin-bottom: 2rem;
    font-size: 0.9em;
  }
</style>